<%=render 'shared/error_messages',:target=>@shop%>

<%=simple_form_for([:admin,@shop],:html=>{:class=>"form-horizontal"}) do |f|%>
	
	<%= f.input :seller_id,:collection=>Seller.all,:value_method=>:id, :label_method=>:name%>
	<%= f.input :name,:input_html=>{:class=>"input-xxlarge"}%>
	<%= f.input :logo%>
	
	<%= f.input :nation_id,:collection=>Nation.all,:value_method=>:id, :label_method=>:name,:inluce_blank=>false,:input_html=>{:class=>"input-xxlarge"}%>	
	<%= f.input :area,:input_html=>{:class=>"input-xxlarge"}%>		
	<%= f.input :address,:input_html=>{:class=>"input-xxlarge"}%>		
	
	<%= f.input :phone,:input_html=>{:class=>"input-xxlarge"}%>		
	
	<div class="control-group tel optional shop_content">
		<label class="tel optional control-label" for="shop_content">详细介绍</label>
		<div class="controls">
			<%= f.cktext_area :content,:input_html=>{:class=>"form-control"}, :ckeditor => { :height => 500 }%>
		</div>
	</div>	
	
	
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">保存</button> 
		<%=link_to "返回列表", admin_shops_path,:class=>"btn"%>
	</div> 
<%end%>