<%= content_for :title do %>
	门店详细信息
<% end %>

<%=render 'header_nav'%>
<div class='box bordered-box blue-border'>

  <div class='box-header blue-background'>
	  <div class='title'>
			<%=@shop.name%>
		</div>
	</div> <!-- /widget-header -->		
	
  <div class='box-content box-double-padding'>
			<div class="row-fluid">
				<div class="span4">
					<%=image_tag @shop.logo_url(:small)%>
					<br/>
					<br/>
					
					<b>品牌</b>
					<p><%=link_to @shop.seller.name,[:admin,@shop.seller] if @shop.seller%></p>
					<b>国家/地区:</b>:
					<p><%=@shop.try(:nation).try(:name) %> / <%=@shop.area%></p>
					
					<b>电话:</b>:
					<p><%=@shop.phone %></p>
					<b>地址:</b>:
					<p><%=@shop.address %></p>
					
					<b>初次创建时间:</b>:
					<p><%=l @shop.created_at %></p>
					<b>最后编辑时间</b>:
					<p><%=l @shop.updated_at %></p>
				</div>
				
				<div class="span8">
					<b>详细介绍</b>
					<hr/>
					<%=raw @shop.content%>
				</div>	
			</div>
	</div>
</div>

<div class="row">
	<div class="btn-group pull-left">
		<%=link_to "返回列表",admin_shops_path,:class=>"btn"%>
	
	</div>
	<div class="btn-group pull-right">
		<%=link_to "编辑",edit_admin_shop_path(@shop),:class=>"btn btn-primary"%>
		<%=link_to "删除",[:admin,@shop],:method=>:delete,:class=>"btn btn-danger"%>
	</div>
</div>