<%= content_for :header do %>
	<header class="bar bar-nav">
		<a class="icon icon-left-nav pull-left" onclick="window.history.back()"></a>
	  <h1 class="title">优惠券详请</h1>
	</header>
<% end %>
<style>
.content{
	background:#F5F5F5;
}


  .intro,.detail{
		padding-bottom:10px;
		padding-top:20px;
		
		padding-left:20px;
		background-color:white;
		border-bottom: 1px dashed #333333
	}
	
	.intro{
		padding-top:60px;
	}
	.orange {
		
		color:orange;
	}
	
	.intro p{
		margin-top:10px;
	}
	
	.download-bar {
		padding-top:5px;
		text-align: center;
	}

	.download-bar div .fa-book{
		color:red;
	}
	.download-bar div {
		display:inline;
		margin-left: auto;
		margin-right: auto;
	}

	.footer{
		text-align: center;
		
		margin-bottom:50px;
		padding-top:5px;
		
		padding-left:20px;
		color:grey;
		font-size:13px;
	}
</style>
<div class="intro">
	<h3><%=@event.shop.name%></h3>
	<p class="orange"><%=@event.name%></p>
	<p class="effect-date">有效期:<%= l @event.begin_at if @event.begin_at%> ~ <%= l @event.end_at if @event.end_at%></p>
</div>

<div class="detail">
	<%=raw @event.content%>
	
	<div class="download-bar">
		<%if @event.is_public_event?%>
			<%=image_tag @event.ticket_image_url(:small)%>
			<br/>

			<div ><i class="fa fa-book">添加至我的优惠券</i></div>
		<%else%>
			<%if has_applied(@event.id)%>
					<div >已经申请</div>
			<%else%>
				<%=link_to apply_mobile_discount_event_path(@event), :class=>"navigate-right","data-ignore"=>"push", "data-transition"=>"slide-in" do%>
					<div ><i class="fa fa-edit">预约申请</i></div>
				<%end%>
			<%end%>

		<%end%>
	</div>
</div>

<div class="footer">
	除特殊注明外，本优惠不能与其他优惠同时享受
</div>