<%=render 'shared/error_messages',:target=>@seller%>

<%=simple_form_for([:admin,@seller],:html=>{:class=>"form-horizontal"}) do |f|%>
	<%= f.input :name,:input_html=>{:class=>"input-xxlarge"}%>
	<%= f.input :logo%>
	<%= f.input :nation_id,:collection=>Nation.all,:value_method=>:id, :label_method=>:name,:inluce_blank=>false,:input_html=>{:class=>"input-xxlarge"}%>	
	
	
	<%= f.input :intro,:input_html=>{:class=>"input-xxlarge"}%>
	
	<div class="control-group string required seller_name">
		<%=f.label :content%>
		<div class="controls">
			<%= f.cktext_area :content,:input_html=>{:class=>"form-control"}, :ckeditor => { :height => 400 }%>
		</div>
	</div>
	
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">保存</button> 
		<%=link_to "返回列表", admin_sellers_path,:class=>"btn"%>
	</div> 
<%end%>