<%= content_for :title do %>
	品牌门店信息
<% end %>

<%=render 'header_nav'%>
<div class='box bordered-box blue-border'>

  <div class='box-header blue-background'>
	  <div class='title'>
			<%=@seller.name%>
		</div>
	</div> <!-- /widget-header -->		
	
  <div class='box-content box-double-padding'>
			<div class="row-fluid">
				<div class="span4">
					<%=image_tag @seller.logo_url(:small)%>
					<br/>
					<br/>
					
					<b>名称:</b>:
					<p><%=@seller.name %> </p>
					<b>门店数量:</b>:
					<p><%=@seller.shops_count %> </p>
					
				
					
					<b>初次创建时间:</b>:
					<p><%=l @seller.created_at %></p>
					<b>最后编辑时间</b>:
					<p><%=l @seller.updated_at %></p>
				</div>
				
				<div class="span8">
					<b>门店列表</b>
					<hr/>
					<%=render "shop_grid", :shops_grid => @shops_grid%>
				</div>	
			</div>
	</div>
</div>

<div class="row">
	<div class="btn-group pull-left">
		<%=link_to "返回列表",admin_shops_path,:class=>"btn"%>
	
	</div>
	<div class="btn-group pull-right">
		<%=link_to new_admin_shop_path(:seller_id=>@seller),:class=>"btn btn-primary",:target=>"_blank" do%>
			<i class='icon-plus'>新建门店</i>
		<%end%>
	</div>
</div>