
<div class="register-container container">
    <div class="row">
			<% flash.each do |key,value| %>
			  <div class="alert alert-<%= key %>"><%= value %></div>
			<% end %>
        <div class="register span12">

					<%= form_for(:session, url: mobile_sessions_path ,:html=>{:class=>"input-group"}) do |f| %>
					 	<h3> <span class="red"><strong>自游购物帮</strong></span></h3>
          	<label for="firstname">手机号</label>
					 	<%=f.text_field :mobile,:placeholder=>"手机号"%>
				    <label for="password">密码</label>
					  <%=f.password_field :password,:placeholder=>"密码"%>
						
						<button class="btn btn-primary ">登陆</button>

					<%end%>
	
         
        </div>
    </div>
</div>
<%= link_to mobile_signup_path,:class=>"btn pull-right" ,"data-ignore"=>"push" do%>
	新用户注册
<%end%>


