<style>

.content{
	background: url('/images/black-bg.png') repeat; 
}


	.seller{
		margin-left:20px;
		background-color:#F5F5F5;
		margin-right:20px;
		margin-top:10px;
		padding-top:10px;
		padding-right:20px;
		padding-left:10px;
		padding-bottom:10px;
	}
	
	.seller_body a, .seller_body a:hover, .seller_body a:link{
		color:black;
	}
	
	.seller_body a:visited{
		color:black;
	}

	.seller-body p{
		float:left; width:45%; line-height:16px; color:#646464;word-wrap: break-word; word-break: normal;
	}
	.seller-body img{
		float:left; margin-right:5px;
		width:50%;
	}

	

	.table-view-cell{
		padding:0px 0px 0px 0px;
	}
	
	h4 small{
		padding-right:20px;
		padding-left:10px;
	}

	.clearfix:before,
	.clearfix:after {
	    content: "";
	    display: table;
	}
	.clearfix:after {
	    clear: both;
	}
	
	.end_date{
		color:grey;
		font-size:14px;
	}
	.zhekou{
		float:right;
	}
</style>




<%= content_for :header do %>
	<header class="bar bar-nav">
		
		<a class="icon icon-left-nav pull-left" onclick="window.history.back()"></a>
	  <a class="icon icon-search pull-right" data-remodal-target="modal"></a>
		
	  <h1 class="title"><i class="fa fa-fire"></i>
		推荐商户</h1>
		
		
	</header>
	
	
	
<% end %>



<div class="seller_body">
	<ul class="">
		<%if @sellers.empty?%>
		<li class="table-view-cell " style="padding-left:20px">
	  	<h4 style="color:red">抱歉，当前条件下没有符合条件的记录。</h4>
			<p>换个条件再试一下?</p>
		</li>
		
		<%end%>
		<%@sellers.each do |seller|%>
	  <li class="">
			<div class="seller">
				<%=link_to [:mobile,seller] ,"data-ignore"=>"push", :class=>"" do%>	
				<div class="sell-header">
					<h4>
						<small>
							<%=image_tag seller.try(:nation).try(:flag_image)%><%=seller.try(:nation).try(:name)%>
						</small>
						<%=seller.name%>
					</h4>
				</div>
				
				<div class="seller-body clearfix">
					<%=image_tag seller.logo_url(:normal),:class=>"seller_logo"%> 

					<p><%=truncate seller.intro ,:length=>40%> </p>
				</div>
				<hr/>
				<div class="seller-footer">
					<%last_event=seller.last_discount_event%>
					<span class="end_date">结束日期:<%= l last_event.end_at  if last_event.end_at%></span>
					<span class="zhekou badge badge-primary"><%=last_event.discount_info%></span>
				</div>
				<%end%>
			</div>
		</li>
		<%end%>
	</ul>
</div>


<div id="remodal_window" class="remodal" data-remodal-id="modal">
    <h1>查询</h1>
		<%= search_form_for(@q,url: mobile_sellers_path,:html=>{:class=>"input-group"} ) do |f| %>

		  <div class="input-row">
		    <label>品牌名称</label>
				<%=f.text_field :name_cont ,:placeholoder=>"比如LAOX"%>
		  </div>
		  <div class="input-row">
		    <label>地区</label>
				<%=f.select "nation_id_eq",options_from_collection_for_select(Nation.all,:id,:name),:include_blank=>true%>
		  </div>
			  <button class="btn btn-positive btn-block submit">查询</button>
		<%end%>
</div>
<style>
.remodal {
	width:300px;
	max-height:30%;
	min-height:30%;
	margin:auto;
	padding-top:10px;
	padding-left:0px;
	padding-right:0px;
	padding-bottom:0px;
}
.remodal .submit{
	margin-top:10px;
}
.remodal h1{
	font-size:16px;
	color:black;
}
.modal_content{
	list-style-type:none;
}
.modal_content{
	margin-top:0px;
	margin-left:0px;
	padding-left:0px;
}

.modal_content li{
	padding-left:5%;
	text-align:left;
   border-bottom-width:1px;
   border-bottom-style:solid;
	border-bottom-color:grey;
}

.remodal .product_cover{
	width:100%;
	padding-left:0px;
}

</style>