<style>
.content{
	background: url('/images/black-bg.png') repeat; 
}

 h3{
	color:white;
	}
	
	.seller_title,seller_body{
		padding-top:20px;
		
		padding-left:50px;
	}
	
	#sellers{
		padding-left:20px;
		
	}
	
	.seller{
		margin-left:10px;
		margin-top:20px;
		padding:0px 0px 0px 0px;
		width: 150px;
	}
	
	.seller_body a, .seller_body a:hover, .seller_body a:link{
		color:white;
	}
	
	.seller_body a:visited{
		color:white;
	}
	.seller_logo{
	  line-height:100px;
		vertical-align:middle;
	
	}
	
</style>


<script>
$(document).ready(function(){
	$('#sellers').isotope({  
	  itemSelector : '.seller'
	});
	
});

</script>

<%= content_for :header do %>
	<header class="bar bar-nav">
		<a class="icon icon-left-nav pull-left" onclick="window.history.back()"></a>
	  <h1 class="title"><i class="fa fa-fire"></i>
		推荐商户</h1>
	</header>
<% end %>


<div class="seller_list">

	
	<div id="sellers" class="seller_body">
		<%@sellers.each do |seller|%>
		<%=link_to [:mobile,seller] ,"data-ignore"=>"push" do%>
		
			<div class="seller">
				<%=image_tag seller.try(:nation).try(:flag_image)%> <%=seller.name%> 
				
				<%=image_tag seller.logo_url(:small),:class=>"seller_logo"%>

			</div>
			<%end%>
			
		<%end%>
		
	</div>
	
</div>

