<style>
	.seller{
		width: 100%;
	}
	
	.seller_body a, .seller_body a:hover, .seller_body a:link{
		color:black;
	}
	
	.seller_body a:visited{
		color:black;
	}
	
	.sell-content{
		padding-top:5px;
		padding-bottom:5px;
		
		padding-left:30px;
		background-color:#F5F5F5;
	}
	.seller_logo{
		width:100%;
		vertical-align:middle;
	
	}
	.table-view-cell{
		padding:0px 0px 0px 0px;
	}
</style>




<%= content_for :header do %>
	<header class="bar bar-nav">
		<a class="icon icon-left-nav pull-left" onclick="window.history.back()"></a>
	  <h1 class="title"><i class="fa fa-fire"></i>
		推荐商户</h1>
	</header>
<% end %>

<ul class="table-view seller_body">
	<%@sellers.each do |seller|%>
  <li class="table-view-cell ">
	
		<div class="seller ">
			<%=link_to [:mobile,seller] ,"data-ignore"=>"push", :class=>"navigate-right" do%>	
			
			<div class="sell-logo">
					<%=image_tag seller.logo_url(:normal),:class=>"seller_logo"%>
			</div>
			
				<div class="sell-content ">
						<h4><%=seller.name%></p>
						<p><%=truncate seller.intro ,:length=>20%> </p>
				</div>
			<%end%>
		</div>
	</li>
		

		
	<%end%>
</ul>


	



