<style>
	.shop-title{
		background-color:grey;
		color:white;
		margin-bottom:5px;
	}
	.shop-detail p{
		color:black;
	}
</style>


<%= content_for :header do %>
	<header class="bar bar-nav">
		<a class="icon icon-left-nav pull-left" onclick="window.history.back()"></a>
	  <h1 class="title">门店列表</h1>
	</header>
<% end %>


<ul class="table-view">
	<%@shops.each do |shop|%>
		<li class="table-view-cell ">
			<%=link_to [:mobile,shop], :class=>"navigate-right","data-ignore"=>"push", "data-transition"=>"slide-in" do%>
      <div class="">
				<div class="shop-title">
					<%=shop.name%>
				</div>
				<div class="shop-detail">
					<p>地址:<%=shop.address%></p>
					<p>电话:<%=shop.phone%></p>
				</div>
      </div>
			<%end%>
		</li>	
	<%end%>
</ul>
