<div class="register-container container">
    <div class="row">
        <div class="register span12">
					<%= form_for([:mobile,@user] ,:html=>{:class=>"input-group"}) do |f| %>
					<%= render 'shared/error_messages', target: f.object %>
	        
				 	<h3> <span class="red"><strong>自游购物帮</strong></span></h3>
						<%=f.label :mobile%>
						<%=f.text_field :mobile,:placeholder=>"手机号"%>
				    <%=f.label :email%>
						<%=f.text_field :email,:placeholder=>"常用邮件地址"%>
						<%=f.label :new_password%>
						<%=f.password_field :new_password,:placeholder=>"密码"%>
						
						<%=f.label :new_password_confirmation%>
						
						<%=f.password_field :new_password_confirmation,:placeholder=>"确认密码"%>
						<div>
						<input type="checkbox"  name="agree_box" style="width:30px" <%= "checked='checked'"if @checked%>/ >
						<a href="#agreement" role="button"  data-toggle="modal">我已经阅读《用户协议》</a>
						
						</div>
						<button class="btn btn-primary">注册</button>

					<%end%>
        </div>
    </div>
</div>

<%= link_to mobile_signin_path,:class=>"btn pull-right", "data-ignore"=>"push" do%>
 	返回登录
<%end%>

<%=render 'agreement'%>