<style>
	.content{
		background:#F5F5F5;
	}
	.shop-header{
		background-color:white;
		height:120px;
		padding:10px 10px 10px 10px;
	}
	.shop-header .shop-logo{
	}
	

	
	h3{
		color:black;
		font-size:14px;
	}
		
	.shop-event-header{
		background-color:#F5F5F5;
	}
	
	form button{
		margin-top:25px;
	}
	
	.input-row label{
	  width: 35%;
	}
	.input-row input{
	  width: 65%;
	}

	.input-row select {
	  float: right;
	  width: 70%;
	  height:40px;
	  margin-bottom: 0;
	  border: 0;
		background-color:white;
		font-size:12px;
		text-align:center;
		padding-top:0px;
	}



	form.input-group {
		font-size:14px;
	}
	form.input-group input{
		font-size:14px;
	}
	
	
</style>

<%= content_for :header do %>
  <a class="icon icon-left-nav pull-left" onclick="window.history.back()"></a>
	<header class="bar bar-nav">
	  <h1 class="title">优惠券预约申请</h1>
	</header>
<% end %>


<%=render 'shared/error_messages',:target=>@code%>


<%=simple_form_for [:mobile,@code] ,:html=>{:class=>"input-group"} do |f| %>
	<%=f.hidden_field :discount_event_id%>
  <div class="input-row">
    <label>申请人姓名*</label>
		<%=f.text_field :name,:placeholder=>"请填写真实姓名"%>
	</div>
	<div class="input-row">
    <label>联系手机*</label>
		<%=f.text_field :mobile,:placeholder=>"如:13512345678"%>
	</div>
	<div class="input-row">
    <label>护照号码</label>
		<%=f.text_field :passport_no,:placeholder=>"如:真实的护照号码"%>
	</div>
	<div class="input-row">
    <label>港澳通行证号码</label>
		<%=f.text_field :hk_passport_no,:placeholder=>""%>
	</div>
	<div class="input-row">
    <label>入台证号码</label>
		<%=f.text_field :tw_passport_no,:placeholder=>""%>
	</div>
	<div class="input-row">
    <label>预计出境日期*</label>
		<%=f.text_field :leave_at,:id=>"leave_at" %>
	</div>
	<div class="input-row">
    <label>出发航班号*</label>
		<%=f.text_field :out_fly_no,:placeholder=>""%>
	</div>
	<div class="input-row">
    <label>预计回国日期</label>
		<%=f.text_field :back_at,:id=>"back_at" %>
	</div>
	<div class="input-row">
    <label>回国航班号*</label>
		<%=f.text_field :in_fly_no,:placeholder=>""%>
	</div>


	
	<button class="btn btn-primary btn-block">提交</button>
	<%=link_to mobile_discount_event_path(@code.discount_event_id), :class=>"btn  btn-block" ,"data-ignore"=>"push","data-transition"=>"slide-in" do%>
		返回	
	<%end%>
	
<%end%>



<script>
	$(document).ready(function(){
    var currYear = (new Date()).getFullYear();
    var opt = {};
    opt.date = { preset: 'date' };
    opt.defaults = {
        theme: 'android-ics light', //皮肤样式
        display: 'modal', //显示方式 
        mode: 'scroller', //日期选择模式
        lang: 'zh',
        startYear: currYear, //开始年份
        endYear: currYear + 1, //结束年份
				dateFormat: 'yy-mm-dd'
    };
		var optDateTime = $.extend(opt['date'], opt['defaults']);
		$("#leave_at").mobiscroll(optDateTime);
		$("#back_at").mobiscroll(optDateTime);
	});
	
</script>
