<%=render 'shared/error_messages',:target=>@discount_event%>

<%=simple_form_for([:admin,@discount_event],:html=>{:class=>"form-horizontal"}) do |f|%>
	<%= f.input :name,:input_html=>{:class=>"input-xxlarge"}%>
	<%= f.input :event_type,:collection => DiscountEvent::Types,:include_blank=>false%>
	<%= f.input :shop_id,:collection =>  Shop.all%>
	<div class="control-group date optional discount_event_begin_at">
		<label class="date optional control-label" for="discount_event_begin_at_1i">有效期限(无限定请留空)</label>
		<div class="controls">
			<%= f.date_field :begin_at,:input_html=>{:class=>"input-xxlarge"}%>	 ~ 
			<%= f.date_field :end_at,:input_html=>{:class=>"input-xxlarge"}%>
		</div>
	</div>
		
	<div class="control-group date optional discount_event_begin_at">
		<label class="date optional control-label" for="discount_event_begin_at_1i">预约发布时间</label>
		<div class="controls">
			<%= f.date_field :publish_at,:input_html=>{:class=>"input-xxlarge"}%>		
		</div>
	</div>
	
	
	<%= f.input :ticket_image,:input_html=>{:class=>"input-xxlarge" }%>
	<%= f.input :is_visible,:input_html=>{:class=>"input-xxlarge"}%>		
	
	<div class="form-actions">
		<button type="submit" class="btn btn-primary">保存</button> 
	</div> 
<%end%>