<%=render 'shared/error_messages',:target=>@discount_code%>




<%=simple_form_for([:admin,@discount_code],:html=>{:class=>"form-horizontal"}) do |f|%>

	<%= f.input :image,:input_html=>{:class=>"input-xxlarge"}%>

	<%= f.input :name,:input_html=>{:class=>"input-xxlarge"}%>
	<%= f.input :mobile,:input_html=>{:class=>"input-xxlarge"}%>
	<%= f.input :passport_no,:input_html=>{:class=>"input-xxlarge"}%>
	<%= f.input :hk_passport_no,:input_html=>{:class=>"input-xxlarge"}%>
	<%= f.input :tw_passport_no,:input_html=>{:class=>"input-xxlarge"}%>
	<%= f.input :out_fly_no,:input_html=>{:class=>"input-xxlarge"}%>
	<%= f.input :in_fly_no,:input_html=>{:class=>"input-xxlarge"}%>
	<div class="control-group file optional discount_code_image">
			<%=f.label :leave_at%>
		<div class="controls">
			<%= f.date_field :leave_at,:input_html=>{:class=>"input-xxlarge"},:label=>false%>
		</div>
	</div>
	
	<div class="control-group file optional discount_code_image">
			<%=f.label :back_at%>
		<div class="controls">
			<%= f.date_field :back_at,:input_html=>{:class=>"input-xxlarge"},:label=>false%>
		</div>
	</div>

	
	
	
	<!--div class="control-group date optional discount_event_begin_at">
		<label class="date optional control-label" for="discount_event_begin_at_1i">有效期限(无限定请留空)</label>
		<div class="controls">
			<%= f.date_field :begin_at,:input_html=>{:class=>"input-xxlarge"}%>	 ~ 
			<%= f.date_field :end_at,:input_html=>{:class=>"input-xxlarge"}%>
		</div>
	</div-->

	<div class="form-actions">
		<button type="submit" class="btn btn-primary">保存</button> 
	</div> 
<%end%>