<div class='accordion accordion-contrast' id='accordion'>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        筛选查询
      </a>
    </div>

    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">
				<div class="widget stacked ">
					<div class="widget-content">
						<%= search_form_for(@q,url: admin_discount_codes_path,:html=>{:class=>"form-horizontal"} ) do |f| %>
						  <div class="control-group">
						    <label class="control-label" for="inputEmail">优惠活动名称</label>
						    <div class="controls">
									<%=f.text_field :discount_event_name_cont%>
						    </div>
						  </div>
							<div class="control-group">
						    <label class="control-label" for="inputEmail">用户账号</label>
						    <div class="controls">
									<%=f.text_field :user_mobile_cont%>
						    </div>
						  </div>
						
							<div class="control-group">
						    <label class="control-label" for="inputEmail">申请人姓名</label>
						    <div class="controls">
									<%=f.text_field :name_cont%>
						    </div>
						  </div>
						
							<div class="control-group">
						    <label class="control-label" for="inputEmail">申请人手机</label>
						    <div class="controls">
									<%=f.text_field :mobile_cont%>
						    </div>
						  </div>
						
							<div class="control-group">
						    <label class="control-label" for="inputEmail">护照号码</label>
						    <div class="controls">
									<%=f.text_field :passport_no_cont%>
						    </div>
						  </div>
						
							<div class="control-group">
						    <label class="control-label" for="inputEmail">港澳通行证号码</label>
						    <div class="controls">
									<%=f.text_field :hk_passport_no_cont%>
						    </div>
						  </div>
						
							<div class="control-group">
						    <label class="control-label" for="inputEmail">入台证号码</label>
						    <div class="controls">
									<%=f.text_field :tw_passport_no_cont%>
						    </div>
						  </div>
							<div class="control-group">
						    <label class="control-label" for="inputEmail">出国航班号</label>
						    <div class="controls">
									<%=f.text_field :out_fly_no_cont%>
						    </div>
						  </div>
						
							<div class="control-group">
						    <label class="control-label" for="inputEmail">回国航班号</label>
						    <div class="controls">
									<%=f.text_field :in_fly_no_cont%>
						    </div>
						  </div>
						
							<div class="control-group">
						    <label class="control-label" for="inputEmail">申请状态</label>
						    <div class="controls">
									<%= f.select "status_eq", options_for_select(DiscountCode::STATUS),:include_blank=>true%>	
								</div>
						  </div>
						
							<div class="control-group">
						    <label class="control-label">申请日期</label>
						    <div class="controls">
									<%= f.date_field :created_at_gteq, :include_blank => true %>  ~ 	<%= f.date_field :created_at_lteq, :include_blank => false %>
						    </div>
						  </div>
						
							<div class="control-group">
						    <label class="control-label">出国日期</label>
						    <div class="controls">
									<%= f.date_field :leave_at_gteq, :include_blank => true %>  ~ 	<%= f.date_field :leave_at_lteq, :include_blank => false %>
						    </div>
						  </div>
						
							<div class="control-group">
						    <label class="control-label">回国日期</label>
						    <div class="controls">
									<%= f.date_field :back_at_gteq, :include_blank => true %>  ~ 	<%= f.date_field :back_at_lteq, :include_blank => false %>
						    </div>
						  </div>
						<hr/>
						  <%= f.submit "查询",:class=>"btn btn-block btn-primary" %>				  
						<% end %>
					</div>
				</div>

      </div>
    </div>

  </div>
</div>