<nav class='' id='main-nav'>
	<div class='navigation'>
		<ul class='nav nav-stacked'>
			<li>
					<%=link_to admin_root_path do%>
						<i class='icon-dashboard'></i>
			    	<span>控制仪表盘</span>
					<%end%>
			</li>

			<li class="<%=active_side_link(['shops','seller'])%>">
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-building'></i>
			        <span>商户管理</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked <%=active_menu(['shops',"seller"])%>'>
			        <li>
								<%=link_to admin_sellers_path do%>
								<i class='icon-caret-right'></i>
                <span>品牌管理</span>
								<%end%>
			        </li>
			        <li>
								<%=link_to admin_shops_path do%>
								<i class='icon-caret-right'></i>
                <span>门店管理</span>
								<%end%>
			        </li>
			    </ul>
			</li>
			
			<li class="<%=active_side_link(['shops'])%>">
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-ticket'></i>
			        <span>优惠活动管理</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked <%=active_menu(['discount_event',"discount_code"])%>'>
			        <li>
								<%=link_to admin_discount_events_path do%>
								<i class='icon-caret-right'></i>
                <span>优惠活动管理</span>
								<%end%>
			        </li>
			        <li>
								<%=link_to admin_discount_codes_path do%>
								<i class='icon-caret-right'></i>
                <span>优惠券管理</span>
								<%end%>
			        </li>
			    </ul>
			</li>
		
			
			<li class="<%=active_side_link(['users'])%>">
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-user'></i>
			        <span>用户管理</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked <%=active_menu(['users'])%>'>
			        <li class=''>
								<%=link_to admin_users_path do%>
								<i class='icon-caret-right'></i>
                <span>用户管理</span>
								<%end%>
			        </li>
			
			        
			    </ul>
			</li>
			<li>
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-cog'></i>
			        <span>系统设置</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked'>
			        <li class=''>
			            <a href='#'>
			                <i class='icon-caret-right'></i>
			                <span>系统参数设置</span>
			            </a>
			        </li>
				   </ul>
			</li>

		</ul>
	</div>
</nav>