<nav class='' id='main-nav'>
	<div class='navigation'>
		<ul class='nav nav-stacked'>
			<li>
					<%=link_to admin_root_path do%>
						<i class='icon-dashboard'></i>
			    	<span>控制仪表盘</span>
					<%end%>
			</li>

			<li class="<%=active_side_link(['shops'])%>">
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-globe'></i>
			        <span>商户</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked <%=active_menu(['shops'])%>'>
			        <li>
								<%=link_to admin_shops_path do%>
								<i class='icon-caret-right'></i>
                <span>商户列表</span>
								<%end%>
			        </li>
			    </ul>
			</li>
			
		
		
			
			<li class="<%=active_side_link(['users','weixin_users','qr_code'])%>">
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-user'></i>
			        <span>用户管理</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked <%=active_menu(['users','weixin_users','qr_code'])%>'>
			        <li class=''>
								<%=link_to "#" do%>
								<i class='icon-caret-right'></i>
                <span>系统管理用户列表</span>
								<%end%>
			        </li>
			
			        
			    </ul>
			</li>
			<li>
			    <a class='dropdown-collapse ' href='#'>
			        <i class='icon-cog'></i>
			        <span>系统设置</span>
			        <i class='icon-angle-down angle-down'></i>
			    </a>
			    <ul class='nav nav-stacked'>
			        <li class=''>
			            <a href='#'>
			                <i class='icon-caret-right'></i>
			                <span>系统参数设置</span>
			            </a>
			        </li>
				   </ul>
			</li>

		</ul>
	</div>
</nav>